@import '../../../../docs-css/mixins.scss';

* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
    color: white;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

a {
    text-decoration: none; 
    color: white;
}

#container {

    position: relative;
    z-index: 10;
    @include display-flex;
    @include flex-flow(column);
    height: 100%;
    align-items: center;
    @include align-items(center);
    @include justify-content(center);
    justify-content: center;
    overflow: auto;

}

#main-logo {

    @include flex(none);
    margin-top: 10em;
    text-align: center;
    font-weight: 200;

    ul {
        @include display-flex;
    }


    li.universe img {

        display: block;
        width: 256px;
        height: 256px;
        -webkit-animation:spin 160s linear infinite;
        -moz-animation:spin 160s linear infinite;
        animation:spin 160s linear infinite;

    }

li:nth-child(1) {
    position: relative;
    left: 19.5em;
    margin-top: -15%;
}

li:nth-child(2) {

    @include align-self(flex-end);
    margin-left: -3em;
}

li:nth-child(3) {
    padding-right: 1em;
}

li:nth-child(5) {
    padding-left: 1em;
}


li:nth-child(3), li:nth-child(5) {

    margin-right: 2em;

}

li:nth-child(6) {
    margin-right: 2em;
    @include align-self(flex-end);
}

}

ul#verse-apps {
    list-style: none;

a.concealed {
    display: block;
}

img {
    width: 72px;
    height: 72px;
}

}

section#support-sites
{

    @include display-flex;
    @include flex-flow(row);
    @include align-items(center);
    @include flex(none);
    width: 60%;
    max-width: 60em;
    padding-top: 2em;


h1 {
    font-weight: 500;
}
    p {

    font-size: 1em;
    font-weight: 200;
    padding: 2em 4em 0 0;
    width: 30em;

    a {
        @include transition(border-bottom, 0.45s, ease);
        border-bottom: 2px solid rgba(255,255,255,0.45);
        &:hover {
        border-bottom: 2px solid rgba(255,255,255,1);
        }
    }

}

ul {
    @include display-flex;
    padding-top: 1em;
    list-style: none;

li {

    @include flex(1);
    padding-right: 1em;

    a {

    font-size: 0.85em;
    display: block;

    span {
    @include transition(all, 0.3s, linear);
        opacity: 0.45;
    }

    h1 {

    @include transition(all, 0.3s, linear);

        }

    &:hover {

        h1 {
        }
    
    span {
    @include transition(all, 0.3s, linear);
        opacity: 1;
    }
    }

    span {
        display: block;
    }
    }

    &.coming-soon {
        opacity: 0.5;
        a:hover {
        cursor: not-allowed;
        }

    h1 {
        &:after {
            content: "Soon";
            font-size: 0.5em;
            text-transform: uppercase;
            padding: 0.25em 0.5em;
            height: 1em;
            line-height: 1em;
            display: inline;
            background: transparent;
            border-radius: 0.5em;
            margin-left: 1em;
            vertical-align: middle;
            font-weight: 900;
            border: 2px solid white;

        }

    }
    }
}

}

img {

    width: 96px;
    height: 96px;

}

}


h1#main-title {

    font-size: 4em;
    font-weight: 200;

}

#tagline {

    font-weight: 400;
    margin-top: -0.5em;
    opacity: 0.8;
    font-size: 1em;
    background-blend-mode: overlay;

}

#universe {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 1024px)
{

    section#main-logo li.universe img {

        width: 200px;
        height: 200px;

    }
    #support-sites ul li a img {
        width: 64px;
        height: 64px;
    }
}